# Python cache
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
.env/
.venv/
venv/
env/

# IDE / editor settings
.vscode/
.idea/

# System / temporary files
*.log
*.tmp
*.DS_Store

# Project-specific folders to ignore
task/
data/result/

